<div class="max-w-xl mx-auto mt-20">
  <div class="flex ">
    <div class="border border-gray-200 h-7 w-7" id="0-0" [ngClass]="{fondo:tabla[0][0]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="0-1" [ngClass]="{fondo:tabla[0][1]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="0-2" [ngClass]="{fondo:tabla[0][2]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="0-3" [ngClass]="{fondo:tabla[0][3]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="0-4" [ngClass]="{fondo:tabla[0][4]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="0-5" [ngClass]="{fondo:tabla[0][5]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="0-6" [ngClass]="{fondo:tabla[0][6]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="0-7" [ngClass]="{fondo:tabla[0][7]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="0-8" [ngClass]="{fondo:tabla[0][8]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="0-9" [ngClass]="{fondo:tabla[0][9]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="0-10" [ngClass]="{fondo:tabla[0][10]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="0-11" [ngClass]="{fondo:tabla[0][11]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="0-12" [ngClass]="{fondo:tabla[0][12]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="0-13" [ngClass]="{fondo:tabla[0][13]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="0-14" [ngClass]="{fondo:tabla[0][14]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="0-15" [ngClass]="{fondo:tabla[0][15]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="0-16" [ngClass]="{fondo:tabla[0][16]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="0-17" [ngClass]="{fondo:tabla[0][17]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="0-18" [ngClass]="{fondo:tabla[0][18]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="0-19" [ngClass]="{fondo:tabla[0][19]}"
         (click)="setCelda($event)"></div>
  </div>

  <div class="flex ">
    <div class="border border-gray-200 h-7 w-7" id="1-0" [ngClass]="{fondo:tabla[1][0]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="1-1" [ngClass]="{fondo:tabla[1][1]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="1-2" [ngClass]="{fondo:tabla[1][2]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="1-3" [ngClass]="{fondo:tabla[1][3]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="1-4" [ngClass]="{fondo:tabla[1][4]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="1-5" [ngClass]="{fondo:tabla[1][5]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="1-6" [ngClass]="{fondo:tabla[1][6]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="1-7" [ngClass]="{fondo:tabla[1][7]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="1-8" [ngClass]="{fondo:tabla[1][8]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="1-9" [ngClass]="{fondo:tabla[1][9]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="1-10" [ngClass]="{fondo:tabla[1][10]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="1-11" [ngClass]="{fondo:tabla[1][11]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="1-12" [ngClass]="{fondo:tabla[1][12]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="1-13" [ngClass]="{fondo:tabla[1][13]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="1-14" [ngClass]="{fondo:tabla[1][14]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="1-15" [ngClass]="{fondo:tabla[1][15]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="1-16" [ngClass]="{fondo:tabla[1][16]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="1-17" [ngClass]="{fondo:tabla[1][17]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="1-18" [ngClass]="{fondo:tabla[1][18]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="1-19" [ngClass]="{fondo:tabla[1][19]}"
         (click)="setCelda($event)"></div>
  </div>
  <div class="flex ">
    <div class="border border-gray-200 h-7 w-7" id="2-0" [ngClass]="{fondo:tabla[2][0]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="2-1" [ngClass]="{fondo:tabla[2][1]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="2-2" [ngClass]="{fondo:tabla[2][2]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="2-3" [ngClass]="{fondo:tabla[2][3]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="2-4" [ngClass]="{fondo:tabla[2][4]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="2-5" [ngClass]="{fondo:tabla[2][5]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="2-6" [ngClass]="{fondo:tabla[2][6]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="2-7" [ngClass]="{fondo:tabla[2][7]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="2-8" [ngClass]="{fondo:tabla[2][8]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="2-9" [ngClass]="{fondo:tabla[2][9]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="2-10" [ngClass]="{fondo:tabla[2][10]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="2-11" [ngClass]="{fondo:tabla[2][11]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="2-12" [ngClass]="{fondo:tabla[2][12]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="2-13" [ngClass]="{fondo:tabla[2][13]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="2-14" [ngClass]="{fondo:tabla[2][14]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="2-15" [ngClass]="{fondo:tabla[2][15]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="2-16" [ngClass]="{fondo:tabla[2][16]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="2-17" [ngClass]="{fondo:tabla[2][17]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="2-18" [ngClass]="{fondo:tabla[2][18]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="2-19" [ngClass]="{fondo:tabla[2][19]}"
         (click)="setCelda($event)"></div>
  </div>

  <div class="flex ">
    <div class="border border-gray-200 h-7 w-7" id="3-0" [ngClass]="{fondo:tabla[3][0]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="3-1" [ngClass]="{fondo:tabla[3][1]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="3-2" [ngClass]="{fondo:tabla[3][2]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="3-3" [ngClass]="{fondo:tabla[3][3]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="3-4" [ngClass]="{fondo:tabla[3][4]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="3-5" [ngClass]="{fondo:tabla[3][5]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="3-6" [ngClass]="{fondo:tabla[3][6]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="3-7" [ngClass]="{fondo:tabla[3][7]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="3-8" [ngClass]="{fondo:tabla[3][8]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="3-9" [ngClass]="{fondo:tabla[3][9]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="3-10" [ngClass]="{fondo:tabla[3][10]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="3-11" [ngClass]="{fondo:tabla[3][11]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="3-12" [ngClass]="{fondo:tabla[3][12]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="3-13" [ngClass]="{fondo:tabla[3][13]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="3-14" [ngClass]="{fondo:tabla[3][14]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="3-15" [ngClass]="{fondo:tabla[3][15]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="3-16" [ngClass]="{fondo:tabla[3][16]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="3-17" [ngClass]="{fondo:tabla[3][17]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="3-18" [ngClass]="{fondo:tabla[3][18]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="3-19" [ngClass]="{fondo:tabla[3][19]}"
         (click)="setCelda($event)"></div>
  </div>

  <div class="flex ">
    <div class="border border-gray-200 h-7 w-7" id="4-0" [ngClass]="{fondo:tabla[4][0]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="4-1" [ngClass]="{fondo:tabla[4][1]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="4-2" [ngClass]="{fondo:tabla[4][2]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="4-3" [ngClass]="{fondo:tabla[4][3]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="4-4" [ngClass]="{fondo:tabla[4][4]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="4-5" [ngClass]="{fondo:tabla[4][5]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="4-6" [ngClass]="{fondo:tabla[4][6]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="4-7" [ngClass]="{fondo:tabla[4][7]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="4-8" [ngClass]="{fondo:tabla[4][8]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="4-9" [ngClass]="{fondo:tabla[4][9]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="4-10" [ngClass]="{fondo:tabla[4][10]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="4-11" [ngClass]="{fondo:tabla[4][11]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="4-12" [ngClass]="{fondo:tabla[4][12]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="4-13" [ngClass]="{fondo:tabla[4][13]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="4-14" [ngClass]="{fondo:tabla[4][14]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="4-15" [ngClass]="{fondo:tabla[4][15]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="4-16" [ngClass]="{fondo:tabla[4][16]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="4-17" [ngClass]="{fondo:tabla[4][17]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="4-18" [ngClass]="{fondo:tabla[4][18]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="4-19" [ngClass]="{fondo:tabla[4][19]}"
         (click)="setCelda($event)"></div>
  </div>

  <div class="flex ">
    <div class="border border-gray-200 h-7 w-7" id="5-0" [ngClass]="{fondo:tabla[5][0]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="5-1" [ngClass]="{fondo:tabla[5][1]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="5-2" [ngClass]="{fondo:tabla[5][2]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="5-3" [ngClass]="{fondo:tabla[5][3]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="5-4" [ngClass]="{fondo:tabla[5][4]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="5-5" [ngClass]="{fondo:tabla[5][5]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="5-6" [ngClass]="{fondo:tabla[5][6]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="5-7" [ngClass]="{fondo:tabla[5][7]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="5-8" [ngClass]="{fondo:tabla[5][8]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="5-9" [ngClass]="{fondo:tabla[5][9]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="5-10" [ngClass]="{fondo:tabla[5][10]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="5-11" [ngClass]="{fondo:tabla[5][11]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="5-12" [ngClass]="{fondo:tabla[5][12]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="5-13" [ngClass]="{fondo:tabla[5][13]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="5-14" [ngClass]="{fondo:tabla[5][14]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="5-15" [ngClass]="{fondo:tabla[5][15]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="5-16" [ngClass]="{fondo:tabla[5][16]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="5-17" [ngClass]="{fondo:tabla[5][17]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="5-18" [ngClass]="{fondo:tabla[5][18]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="5-19" [ngClass]="{fondo:tabla[5][19]}"
         (click)="setCelda($event)"></div>
  </div>

  <div class="flex ">
    <div class="border border-gray-200 h-7 w-7" id="6-0" [ngClass]="{fondo:tabla[6][0]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="6-1" [ngClass]="{fondo:tabla[6][1]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="6-2" [ngClass]="{fondo:tabla[6][2]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="6-3" [ngClass]="{fondo:tabla[6][3]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="6-4" [ngClass]="{fondo:tabla[6][4]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="6-5" [ngClass]="{fondo:tabla[6][5]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="6-6" [ngClass]="{fondo:tabla[6][6]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="6-7" [ngClass]="{fondo:tabla[6][7]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="6-8" [ngClass]="{fondo:tabla[6][8]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="6-9" [ngClass]="{fondo:tabla[6][9]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="6-10" [ngClass]="{fondo:tabla[6][10]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="6-11" [ngClass]="{fondo:tabla[6][11]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="6-12" [ngClass]="{fondo:tabla[6][12]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="6-13" [ngClass]="{fondo:tabla[6][13]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="6-14" [ngClass]="{fondo:tabla[6][14]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="6-15" [ngClass]="{fondo:tabla[6][15]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="6-16" [ngClass]="{fondo:tabla[6][16]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="6-17" [ngClass]="{fondo:tabla[6][17]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="6-18" [ngClass]="{fondo:tabla[6][18]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="6-19" [ngClass]="{fondo:tabla[6][19]}"
         (click)="setCelda($event)"></div>
  </div>

  <div class="flex ">
    <div class="border border-gray-200 h-7 w-7" id="7-0" [ngClass]="{fondo:tabla[7][0]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="7-1" [ngClass]="{fondo:tabla[7][1]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="7-2" [ngClass]="{fondo:tabla[7][2]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="7-3" [ngClass]="{fondo:tabla[7][3]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="7-4" [ngClass]="{fondo:tabla[7][4]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="7-5" [ngClass]="{fondo:tabla[7][5]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="7-6" [ngClass]="{fondo:tabla[7][6]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="7-7" [ngClass]="{fondo:tabla[7][7]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="7-8" [ngClass]="{fondo:tabla[7][8]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="7-9" [ngClass]="{fondo:tabla[7][9]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="7-10" [ngClass]="{fondo:tabla[7][10]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="7-11" [ngClass]="{fondo:tabla[7][11]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="7-12" [ngClass]="{fondo:tabla[7][12]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="7-13" [ngClass]="{fondo:tabla[7][13]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="7-14" [ngClass]="{fondo:tabla[7][14]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="7-15" [ngClass]="{fondo:tabla[7][15]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="7-16" [ngClass]="{fondo:tabla[7][16]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="7-17" [ngClass]="{fondo:tabla[7][17]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="7-18" [ngClass]="{fondo:tabla[7][18]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="7-19" [ngClass]="{fondo:tabla[7][19]}"
         (click)="setCelda($event)"></div>
  </div>

  <div class="flex ">
    <div class="border border-gray-200 h-7 w-7" id="8-0" [ngClass]="{fondo:tabla[8][0]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="8-1" [ngClass]="{fondo:tabla[8][1]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="8-2" [ngClass]="{fondo:tabla[8][2]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="8-3" [ngClass]="{fondo:tabla[8][3]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="8-4" [ngClass]="{fondo:tabla[8][4]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="8-5" [ngClass]="{fondo:tabla[8][5]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="8-6" [ngClass]="{fondo:tabla[8][6]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="8-7" [ngClass]="{fondo:tabla[8][7]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="8-8" [ngClass]="{fondo:tabla[8][8]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="8-9" [ngClass]="{fondo:tabla[8][9]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="8-10" [ngClass]="{fondo:tabla[8][10]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="8-11" [ngClass]="{fondo:tabla[8][11]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="8-12" [ngClass]="{fondo:tabla[8][12]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="8-13" [ngClass]="{fondo:tabla[8][13]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="8-14" [ngClass]="{fondo:tabla[8][14]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="8-15" [ngClass]="{fondo:tabla[8][15]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="8-16" [ngClass]="{fondo:tabla[8][16]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="8-17" [ngClass]="{fondo:tabla[8][17]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="8-18" [ngClass]="{fondo:tabla[8][18]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="8-19" [ngClass]="{fondo:tabla[8][19]}"
         (click)="setCelda($event)"></div>
  </div>

  <div class="flex ">
    <div class="border border-gray-200 h-7 w-7" id="9-0" [ngClass]="{fondo:tabla[9][0]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="9-1" [ngClass]="{fondo:tabla[9][1]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="9-2" [ngClass]="{fondo:tabla[9][2]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="9-3" [ngClass]="{fondo:tabla[9][3]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="9-4" [ngClass]="{fondo:tabla[9][4]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="9-5" [ngClass]="{fondo:tabla[9][5]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="9-6" [ngClass]="{fondo:tabla[9][6]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="9-7" [ngClass]="{fondo:tabla[9][7]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="9-8" [ngClass]="{fondo:tabla[9][8]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="9-9" [ngClass]="{fondo:tabla[9][9]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="9-10" [ngClass]="{fondo:tabla[9][10]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="9-11" [ngClass]="{fondo:tabla[9][11]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="9-12" [ngClass]="{fondo:tabla[9][12]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="9-13" [ngClass]="{fondo:tabla[9][13]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="9-14" [ngClass]="{fondo:tabla[9][14]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="9-15" [ngClass]="{fondo:tabla[9][15]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="9-16" [ngClass]="{fondo:tabla[9][16]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="9-17" [ngClass]="{fondo:tabla[9][17]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="9-18" [ngClass]="{fondo:tabla[9][18]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="9-19" [ngClass]="{fondo:tabla[9][19]}"
         (click)="setCelda($event)"></div>
  </div>

  <div class="flex ">
    <div class="border border-gray-200 h-7 w-7" id="10-0" [ngClass]="{fondo:tabla[10][0]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="10-1" [ngClass]="{fondo:tabla[10][1]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="10-2" [ngClass]="{fondo:tabla[10][2]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="10-3" [ngClass]="{fondo:tabla[10][3]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="10-4" [ngClass]="{fondo:tabla[10][4]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="10-5" [ngClass]="{fondo:tabla[10][5]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="10-6" [ngClass]="{fondo:tabla[10][6]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="10-7" [ngClass]="{fondo:tabla[10][7]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="10-8" [ngClass]="{fondo:tabla[10][8]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="10-9" [ngClass]="{fondo:tabla[10][9]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="10-10" [ngClass]="{fondo:tabla[10][10]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="10-11" [ngClass]="{fondo:tabla[10][11]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="10-12" [ngClass]="{fondo:tabla[10][12]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="10-13" [ngClass]="{fondo:tabla[10][13]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="10-14" [ngClass]="{fondo:tabla[10][14]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="10-15" [ngClass]="{fondo:tabla[10][15]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="10-16" [ngClass]="{fondo:tabla[10][16]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="10-17" [ngClass]="{fondo:tabla[10][17]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="10-18" [ngClass]="{fondo:tabla[10][18]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="10-19" [ngClass]="{fondo:tabla[10][19]}"
         (click)="setCelda($event)"></div>
  </div>

  <div class="flex ">
    <div class="border border-gray-200 h-7 w-7" id="11-0" [ngClass]="{fondo:tabla[11][0]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="11-1" [ngClass]="{fondo:tabla[11][1]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="11-2" [ngClass]="{fondo:tabla[11][2]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="11-3" [ngClass]="{fondo:tabla[11][3]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="11-4" [ngClass]="{fondo:tabla[11][4]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="11-5" [ngClass]="{fondo:tabla[11][5]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="11-6" [ngClass]="{fondo:tabla[11][6]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="11-7" [ngClass]="{fondo:tabla[11][7]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="11-8" [ngClass]="{fondo:tabla[11][8]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="11-9" [ngClass]="{fondo:tabla[11][9]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="11-10" [ngClass]="{fondo:tabla[11][10]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="11-11" [ngClass]="{fondo:tabla[11][11]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="11-12" [ngClass]="{fondo:tabla[11][12]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="11-13" [ngClass]="{fondo:tabla[11][13]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="11-14" [ngClass]="{fondo:tabla[11][14]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="11-15" [ngClass]="{fondo:tabla[11][15]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="11-16" [ngClass]="{fondo:tabla[11][16]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="11-17" [ngClass]="{fondo:tabla[11][17]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="11-18" [ngClass]="{fondo:tabla[11][18]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="11-19" [ngClass]="{fondo:tabla[11][19]}"
         (click)="setCelda($event)"></div>
  </div>

  <div class="flex ">
    <div class="border border-gray-200 h-7 w-7" id="12-0" [ngClass]="{fondo:tabla[12][0]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="12-1" [ngClass]="{fondo:tabla[12][1]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="12-2" [ngClass]="{fondo:tabla[12][2]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="12-3" [ngClass]="{fondo:tabla[12][3]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="12-4" [ngClass]="{fondo:tabla[12][4]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="12-5" [ngClass]="{fondo:tabla[12][5]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="12-6" [ngClass]="{fondo:tabla[12][6]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="12-7" [ngClass]="{fondo:tabla[12][7]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="12-8" [ngClass]="{fondo:tabla[12][8]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="12-9" [ngClass]="{fondo:tabla[12][9]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="12-10" [ngClass]="{fondo:tabla[12][10]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="12-11" [ngClass]="{fondo:tabla[12][11]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="12-12" [ngClass]="{fondo:tabla[12][12]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="12-13" [ngClass]="{fondo:tabla[12][13]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="12-14" [ngClass]="{fondo:tabla[12][14]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="12-15" [ngClass]="{fondo:tabla[12][15]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="12-16" [ngClass]="{fondo:tabla[12][16]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="12-17" [ngClass]="{fondo:tabla[12][17]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="12-18" [ngClass]="{fondo:tabla[12][18]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="12-19" [ngClass]="{fondo:tabla[12][19]}"
         (click)="setCelda($event)"></div>
  </div>

  <div class="flex ">
    <div class="border border-gray-200 h-7 w-7" id="13-0" [ngClass]="{fondo:tabla[13][0]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="13-1" [ngClass]="{fondo:tabla[13][1]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="13-2" [ngClass]="{fondo:tabla[13][2]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="13-3" [ngClass]="{fondo:tabla[13][3]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="13-4" [ngClass]="{fondo:tabla[13][4]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="13-5" [ngClass]="{fondo:tabla[13][5]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="13-6" [ngClass]="{fondo:tabla[13][6]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="13-7" [ngClass]="{fondo:tabla[13][7]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="13-8" [ngClass]="{fondo:tabla[13][8]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="13-9" [ngClass]="{fondo:tabla[13][9]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="13-10" [ngClass]="{fondo:tabla[13][10]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="13-11" [ngClass]="{fondo:tabla[13][11]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="13-12" [ngClass]="{fondo:tabla[13][12]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="13-13" [ngClass]="{fondo:tabla[13][13]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="13-14" [ngClass]="{fondo:tabla[13][14]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="13-15" [ngClass]="{fondo:tabla[13][15]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="13-16" [ngClass]="{fondo:tabla[13][16]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="13-17" [ngClass]="{fondo:tabla[13][17]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="13-18" [ngClass]="{fondo:tabla[13][18]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="13-19" [ngClass]="{fondo:tabla[13][19]}"
         (click)="setCelda($event)"></div>
  </div>

  <div class="flex ">
    <div class="border border-gray-200 h-7 w-7" id="14-0" [ngClass]="{fondo:tabla[14][0]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="14-1" [ngClass]="{fondo:tabla[14][1]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="14-2" [ngClass]="{fondo:tabla[14][2]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="14-3" [ngClass]="{fondo:tabla[14][3]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="14-4" [ngClass]="{fondo:tabla[14][4]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="14-5" [ngClass]="{fondo:tabla[14][5]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="14-6" [ngClass]="{fondo:tabla[14][6]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="14-7" [ngClass]="{fondo:tabla[14][7]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="14-8" [ngClass]="{fondo:tabla[14][8]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="14-9" [ngClass]="{fondo:tabla[14][9]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="14-10" [ngClass]="{fondo:tabla[14][10]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="14-11" [ngClass]="{fondo:tabla[14][11]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="14-12" [ngClass]="{fondo:tabla[14][12]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="14-13" [ngClass]="{fondo:tabla[14][13]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="14-14" [ngClass]="{fondo:tabla[14][14]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="14-15" [ngClass]="{fondo:tabla[14][15]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="14-16" [ngClass]="{fondo:tabla[14][16]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="14-17" [ngClass]="{fondo:tabla[14][17]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="14-18" [ngClass]="{fondo:tabla[14][18]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="14-19" [ngClass]="{fondo:tabla[14][19]}"
         (click)="setCelda($event)"></div>
  </div>

  <div class="flex ">
    <div class="border border-gray-200 h-7 w-7" id="15-0" [ngClass]="{fondo:tabla[15][0]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="15-1" [ngClass]="{fondo:tabla[15][1]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="15-2" [ngClass]="{fondo:tabla[15][2]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="15-3" [ngClass]="{fondo:tabla[15][3]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="15-4" [ngClass]="{fondo:tabla[15][4]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="15-5" [ngClass]="{fondo:tabla[15][5]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="15-6" [ngClass]="{fondo:tabla[15][6]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="15-7" [ngClass]="{fondo:tabla[15][7]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="15-8" [ngClass]="{fondo:tabla[15][8]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="15-9" [ngClass]="{fondo:tabla[15][9]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="15-10" [ngClass]="{fondo:tabla[15][10]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="15-11" [ngClass]="{fondo:tabla[15][11]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="15-12" [ngClass]="{fondo:tabla[15][12]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="15-13" [ngClass]="{fondo:tabla[15][13]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="15-14" [ngClass]="{fondo:tabla[15][14]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="15-15" [ngClass]="{fondo:tabla[15][15]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="15-16" [ngClass]="{fondo:tabla[15][16]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="15-17" [ngClass]="{fondo:tabla[15][17]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="15-18" [ngClass]="{fondo:tabla[15][18]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="15-19" [ngClass]="{fondo:tabla[15][19]}"
         (click)="setCelda($event)"></div>
  </div>

  <div class="flex ">
    <div class="border border-gray-200 h-7 w-7" id="16-0" [ngClass]="{fondo:tabla[16][0]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="16-1" [ngClass]="{fondo:tabla[16][1]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="16-2" [ngClass]="{fondo:tabla[16][2]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="16-3" [ngClass]="{fondo:tabla[16][3]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="16-4" [ngClass]="{fondo:tabla[16][4]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="16-5" [ngClass]="{fondo:tabla[16][5]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="16-6" [ngClass]="{fondo:tabla[16][6]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="16-7" [ngClass]="{fondo:tabla[16][7]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="16-8" [ngClass]="{fondo:tabla[16][8]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="16-9" [ngClass]="{fondo:tabla[16][9]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="16-10" [ngClass]="{fondo:tabla[16][10]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="16-11" [ngClass]="{fondo:tabla[16][11]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="16-12" [ngClass]="{fondo:tabla[16][12]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="16-13" [ngClass]="{fondo:tabla[16][13]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="16-14" [ngClass]="{fondo:tabla[16][14]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="16-15" [ngClass]="{fondo:tabla[16][15]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="16-16" [ngClass]="{fondo:tabla[16][16]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="16-17" [ngClass]="{fondo:tabla[16][17]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="16-18" [ngClass]="{fondo:tabla[16][18]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="16-19" [ngClass]="{fondo:tabla[16][19]}"
         (click)="setCelda($event)"></div>
  </div>

  <div class="flex ">
    <div class="border border-gray-200 h-7 w-7" id="17-0" [ngClass]="{fondo:tabla[17][0]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="17-1" [ngClass]="{fondo:tabla[17][1]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="17-2" [ngClass]="{fondo:tabla[17][2]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="17-3" [ngClass]="{fondo:tabla[17][3]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="17-4" [ngClass]="{fondo:tabla[17][4]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="17-5" [ngClass]="{fondo:tabla[17][5]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="17-6" [ngClass]="{fondo:tabla[17][6]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="17-7" [ngClass]="{fondo:tabla[17][7]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="17-8" [ngClass]="{fondo:tabla[17][8]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="17-9" [ngClass]="{fondo:tabla[17][9]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="17-10" [ngClass]="{fondo:tabla[17][10]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="17-11" [ngClass]="{fondo:tabla[17][11]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="17-12" [ngClass]="{fondo:tabla[17][12]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="17-13" [ngClass]="{fondo:tabla[17][13]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="17-14" [ngClass]="{fondo:tabla[17][14]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="17-15" [ngClass]="{fondo:tabla[17][15]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="17-16" [ngClass]="{fondo:tabla[17][16]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="17-17" [ngClass]="{fondo:tabla[17][17]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="17-18" [ngClass]="{fondo:tabla[17][18]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="17-19" [ngClass]="{fondo:tabla[17][19]}"
         (click)="setCelda($event)"></div>
  </div>

  <div class="flex ">
    <div class="border border-gray-200 h-7 w-7" id="18-0" [ngClass]="{fondo:tabla[18][0]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="18-1" [ngClass]="{fondo:tabla[18][1]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="18-2" [ngClass]="{fondo:tabla[18][2]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="18-3" [ngClass]="{fondo:tabla[18][3]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="18-4" [ngClass]="{fondo:tabla[18][4]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="18-5" [ngClass]="{fondo:tabla[18][5]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="18-6" [ngClass]="{fondo:tabla[18][6]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="18-7" [ngClass]="{fondo:tabla[18][7]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="18-8" [ngClass]="{fondo:tabla[18][8]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="18-9" [ngClass]="{fondo:tabla[18][9]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="18-10" [ngClass]="{fondo:tabla[18][10]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="18-11" [ngClass]="{fondo:tabla[18][11]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="18-12" [ngClass]="{fondo:tabla[18][12]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="18-13" [ngClass]="{fondo:tabla[18][13]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="18-14" [ngClass]="{fondo:tabla[18][14]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="18-15" [ngClass]="{fondo:tabla[18][15]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="18-16" [ngClass]="{fondo:tabla[18][16]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="18-17" [ngClass]="{fondo:tabla[18][17]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="18-18" [ngClass]="{fondo:tabla[18][18]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="18-19" [ngClass]="{fondo:tabla[18][19]}"
         (click)="setCelda($event)"></div>
  </div>

  <div class="flex ">
    <div class="border border-gray-200 h-7 w-7" id="19-0" [ngClass]="{fondo:tabla[19][0]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="19-1" [ngClass]="{fondo:tabla[19][1]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="19-2" [ngClass]="{fondo:tabla[19][2]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="19-3" [ngClass]="{fondo:tabla[19][3]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="19-4" [ngClass]="{fondo:tabla[19][4]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="19-5" [ngClass]="{fondo:tabla[19][5]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="19-6" [ngClass]="{fondo:tabla[19][6]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="19-7" [ngClass]="{fondo:tabla[19][7]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="19-8" [ngClass]="{fondo:tabla[19][8]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="19-9" [ngClass]="{fondo:tabla[19][9]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="19-10" [ngClass]="{fondo:tabla[19][10]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="19-11" [ngClass]="{fondo:tabla[19][11]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="19-12" [ngClass]="{fondo:tabla[19][12]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="19-13" [ngClass]="{fondo:tabla[19][13]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="19-14" [ngClass]="{fondo:tabla[19][14]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="19-15" [ngClass]="{fondo:tabla[19][15]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="19-16" [ngClass]="{fondo:tabla[19][16]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="19-17" [ngClass]="{fondo:tabla[19][17]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="19-18" [ngClass]="{fondo:tabla[19][18]}"
         (click)="setCelda($event)"></div>
    <div class="border border-gray-200 h-7 w-7" id="19-19" [ngClass]="{fondo:tabla[19][19]}"
         (click)="setCelda($event)"></div>
  </div>

</div>
<div class="mt-5 shadow-lg  w-72 text-center rounded py-3 mx-auto bg-purple-600 text-white font-sans font-regular text-xl cursor-pointer"
     [ngClass]="{stop:iteraciones!=-1}" ><span *ngIf="iteraciones==-1;else parar"(click)="runGame()" class="">Empezar</span> <ng-template #parar ><span (click)="stopGame()">Stop</span></ng-template></div>
<div class="mt-5 shadow-lg  w-24 text-center rounded py-3 mx-auto bg-blue-300 text-white font-sans font-regular text-xl cursor-pointer" (click)="reset()" *ngIf="iteraciones==-1">Reset</div>
<h3 class="text-3xl font-semibold text-gray-700 text-center mt-5" *ngIf="iteraciones!=-1">Número de generaciones {{iteraciones+1}}</h3>

